SECRET_KEY=django-insecure-o-zgartiring-buni
DEBUG=True

DB_NAME=kutubxona
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

TELEGRAM_BOT_TOKEN=0000000000:AA...
BOT_API_BASE_URL=http://127.0.0.1:8000/api
BOT_SERVICE_TOKEN=bu-yerga-servis-akkaunt-jwt-tokeni

MUDDAT_KUN=14
KUNLIK_JARIMA=5000
LIMIT_KITOB=3
TAKLIF_SOAT=24
